@model Kast.Models.DnD5E.Character

<div class="Dnd5Border" style="font-size: 19px; font-weight: bold; margin-bottom:4px">
    <p>Armor Class @Model.ArmorClass</p>
    <p>Initative @Model.Initiative</p>
    <p>Speed @Model.Speed</p>
    <p>Hit Point @Model.HitPoint</p>
    <p>Passive Perception @Model.PassivePerception</p>
    <p>Proficiency Bonus @Model.ProfBonus</p>
    <p>Hit Dice @Model.HirDice</p>
    <p>Carring @Model.CarringCapasity / @Model.Carring</p>
</div>