@model IEnumerable<Kast.Models.DnD5E.Character>

 <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/Content/Style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>@Model.FirstOrDefault()?.CharacterName</title>

    </head>

    <body>
        <div class="grid-container">

            <div class="item1">
                @Html.Partial("Dnd5EName", @Model.FirstOrDefault()?.CharacterName)
                @Html.Partial("Dnd5EImage")
                @Html.Partial("Dnd5EDescription", @Model.FirstOrDefault())
            </div>

            <div class="item2">
                @Html.Partial("Dnd5EStats", @Model.FirstOrDefault()?.Stats)
            </div>

            <div class="item3">
                @Html.Partial("Dnd5EOverview", @Model.FirstOrDefault())
                @Html.Partial("Dnd5ESkill", @Model.FirstOrDefault()?.Skills)
                @Html.Partial("Dnd5ESavingThrow", @Model.FirstOrDefault()?.SavingThrows)
            </div>

            <div class="item4">
                @Html.Partial("Dnd5EAttaksAndSpellCasting")
                @Html.Partial("Dnd5ELanguages", @Model.FirstOrDefault()?.Languages)
                @Html.Partial("Dnd5EFeaturesAndTraits")
            </div>

            <div class="item5">
                @Html.Partial("Dnd5EWeaponArmorAndTools")
                @Html.Partial("Dnd5EEquipment", @Model.FirstOrDefault()?.Equipments)
            </div>
        </div>

        <p></p><p></p>

        <div class="grid-container">
            <div class="item1">
                @Html.Partial("Dnd5ECantrip")
                @Html.Partial("Dnd5ESpell1")
            </div>
            <div class="item3">
                @Html.Partial("Dnd5ESpell2")
            </div>
        </div>
    </body>
</html>