@model Kast.Models.Dnd5E.Spell

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Retual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Retual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CastingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CastingTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Components)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Components)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DamageType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DamageType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpellId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
